*{
    background-color: rgb(255, 255, 255);
    color: #000000;
    
}


.rai{ color:rgb(0, 0, 0);
    font-size: 50px;
    border: 3px solid white;
    font-family: 'Name';}

    @font-face 
    {
      font-family: "Name";
      src:
        url("ClashDisplay-Variable.ttf") format("woff2"),
        url("linkToTheFontFolder/File.woff")  format("woff");
    }


    @font-face 
    {
      font-family: "one";
      src:
        url("Exo2-VariableFont_wght.ttf") format("woff2"),
        url("linkToTheFontFolder/File.woff")  format("woff");
    }

.one{color:rgb(0, 0, 0);
    font-size: 50px;
    border: 3px solid white;
    font-family: 'one';}

    @font-face 
    {
      font-family: "one";
      src:
        url("Exo2-VariableFont_wght.ttf") format("woff2"),
        url("linkToTheFontFolder/File.woff")  format("woff");
    }

    .two{color:rgb(0, 0, 0);
        font-size: 50px;
        border: 3px solid white;
        font-family: 'one';}

        .videotype{
          width: 500px;
      }
.one {width: 500px;}



